/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cce7ef;
  padding: 0px 40px;
  font-family: 'Arial', sans-serif;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar .logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #744a7d;
  text-transform: uppercase;
  font-style: italic;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 30px;
}

.nav-links a {
  color: #744a7d;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #18bf12; /* Green color on hover */
}

/* Hamburger menu for mobile */
.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: #744a7d;
  border-radius: 5px;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .navbar {
    padding: 20px;
    flex-direction: column;
    text-align: center;
  }

  .nav-links {
    display: none;  /* Hide menu by default */
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
  }

  .nav-links.mobile {
    display: flex;  /* Show the menu when in mobile mode */
  }

  .nav-links li {
    margin-left: 0;
    margin-bottom: 15px;
  }

  .nav-links a {
    font-size: 1.2rem;
  }

  /* Show hamburger menu for mobile screens */
  .hamburger {
    display: flex;
  }
}
